#root {
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-transition {
  animation: fadeIn 0.25s ease forwards;
<<<<<<< HEAD
<<<<<<< HEAD
  min-height: 84vh;
=======
  min-height: 85vh;
>>>>>>> b6217892415a16c15ffab896b04800136d80e376
=======
  min-height: 86vh;
>>>>>>> f0dd9330caa8bd587f0982edac844091042cecf1
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--bg-primary);
  position: relative;
  z-index: 1;
}
